<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="350000" enableVersionHeader="false" maxQueryStringLength="3584" executionTimeout="600"/>

  </system.web>
  <!--mail funktion er udkommenteret, fordi vi ikke har en mailserver til rådighed
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="xxx@xxx.xx">
        <network defaultCredentials="false" host="localhost" post="25" userName="xxx@xxx.xx" password="xxxxx">
        
        </network>
      </smtp>
    </mailSettings>
  </system.net>-->
  <!--et stykke kode for at undgå Validering fejl-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
